# Copia este fichero a .env en el servidor y ajusta los valores.

# Credenciales de Grafana (si más adelante lo expones por subdominio)
ADMIN_USER=admin
ADMIN_PASSWORD=admin
# Hash bcrypt del password (genera uno con: docker run --rm caddy:2.8.4 caddy hash-password --plaintext 'cambia_esto')
ADMIN_PASSWORD_HASH=$2a$14$1l.IozJx7xQRVmlkEQ32OeEEfP5mRxTpbDTCTcXRqn19gXD8YK1pO
